<p id="notice"><%= notice %></p>

<p>
  <strong>Multimedia:</strong>
  <%= @wfeeling_question.multimedia %>
</p>

<%= link_to 'Edit', edit_wfeeling_question_path(@wfeeling_question) %> |
<%= link_to 'Back', wfeeling_questions_path %>
