<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @multimedium.image.url %>
</p>

<%= link_to 'Edit', edit_multimedium_path(@multimedium) %> |
<%= link_to 'Back', multimedia_path %>
