<p id="notice"><%= notice %></p>

<p>
  <strong>Multimedia:</strong>
  <%= @wreaction_question.multimedia %>
</p>

<%= link_to 'Edit', edit_wreaction_question_path(@wreaction_question) %> |
<%= link_to 'Back', wreaction_questions_path %>
