<p id="notice"><%= notice %></p>

<p>
  <strong>Instruction:</strong>
  <%= @instrument.instruction %>
</p>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
